@use "./scss/" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Parkinsans:wght@300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html {
	font-size: 100%;

	@include mobile {
		font-size: 10%;
	}

	@include tablet {
		font-size: 80%;
	}
}

body {
	font-family: $font-family;
	font-weight: 400;
	line-height: 1.5;

	background-color: $body-bg;
	color: $txt-color;

	@include mobile {
		margin-bottom: 3rem;
	}
}

a {
	text-decoration: none;
	color: unset;
}

@media (hover: hover) {
	a:hover {
		color: $main-color;
	}
}

button,
input {
	outline: 0;
}

ul {
	list-style-type: none;
}

img {
	max-width: 100%;
}

iframe {
	border: 0;
}

.section {
	padding: 0 2rem;
}

.section__header {
	@include flex(center, space-between);
}

.text-danger {
	color: $error-color;
}
input {
	border: 0;
	background-color: $black;
	padding: 0.5rem 1.5rem;
	font-size: 1rem;
	border-radius: $border-radius;
	color: $txt-color;
	font-family: $font-family;
}

.loading-spinner-container {
	content: "";
	background: #fff;
	position: fixed;
	inset: 0px;
	overflow: auto;
	outline: 0px;
	z-index: 99999;
	opacity: 0.5;
}

.loading-spinner {
	position: fixed;
	left: 50%;
	transform: translate(-50%, -50%) translateZ(0);
	top: 50%;
	width: 30px;
	height: 30px;
	z-index: 99999;
	/* background:  */
	background-size: contain;
	animation: spinning 1.5s infinite ease-in-out;
}

.loading-spinner:after {
	content: "";
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 100%;
	margin: -15px;
	box-shadow: 0 4px 0 0 #233daa;
	transition: all 1s linear;
	animation: lds-eclipse 1s linear infinite;
}
@keyframes spinning {
	0% {
		transform: translate(-50%, -50%) scale(1) translateZ(0);
	}

	50% {
		transform: translate(-50%, -50%) scale(1.1) translateZ(0);
	}

	100% {
		transform: translate(-50%, -50%) scale(1) translateZ(0);
	}
}

@keyframes lds-eclipse {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
